body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(to right, #ff5f6d, #ffc371);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.register-container,
.login-container {
  background: rgba(255, 255, 255, 0.2);
  padding: 50px 40px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  width: 350px;
  backdrop-filter: blur(10px);
  color: #fff;
  text-align: center;
}

.register-form,
.login-form {
  width: 100%;
}

.register-form h2,
.login-form h2 {
  margin-bottom: 20px;
  font-size: 26px;
  color: #fff;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
  text-align: left;
}

.input-group i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.input-group input {
  width: 80%;
  padding: 10px 35px;
  margin: 5px 0;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  font-size: 14px;
  outline: none;
  margin-left: auto;
  margin-right: auto;
}

button {
  width: 80%;
  padding: 10px;
  border: none;
  background-color: #ff5f6d;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
  font-size: 16px;
  outline: none;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: #ff2e44;
}

.login-link,
.forgot-password {
  margin-top: 20px;
}

.login-link a,
.forgot-password a {
  color: #ffb3b3;
  text-decoration: none;
}

.login-link a:hover,
.forgot-password a:hover {
  text-decoration: underline;
}
